<div id="pg-12-7" class="panel-grid panel-no-style">
    <div id="pgc-12-7-0" class="panel-grid-cell">
       <div id="panel-12-7-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="15">
          <div class="textwidget">
             <div class="thim-newlleter-homepage">
                <p class="description">Subscribe now and receive weekly newsletter with educational materials, new courses, interesting posts, popular books and much more!</p>
    
                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-3101 mc4wp-form-basic" method="post" data-id="3101" data-name="Default sign-up form">
                   <div class="mc4wp-form-fields"><input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email here" required=""> <input type="submit" value="Subscribe"></div>
                   <label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1579325673"><input type="hidden" name="_mc4wp_form_id" value="3101"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                   <div class="mc4wp-response"></div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>