<header id="masthead" class="site-header bg-custom-sticky sticky-header header_overlay header_v1 affix-top">
    <div id="toolbar" class="toolbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="toolbar-container">
                        <aside id="text-2" class="widget widget_text">
                            <div class="textwidget">
                                <div class="thim-have-any-question">
                                    Have any question?
                                    <div class="mobile"><i class="fa fa-phone"></i><a href="tel:00123456789" class="value">(00) 123 456 789</a></div>
                                    <div class="email"><i class="fa fa-envelope"></i><a href="mailto:hello@njclabs.com">hello@njclabs.com</a></div>
                                </div>
                            </div>
                        </aside>
                        <aside id="login-popup-3" class="widget widget_login-popup">
                            <div class="thim-widget-login-popup thim-widget-login-popup-base template-base">
                                <div class="thim-link-login thim-login-popup"> <a *ngIf="!_authService.isLoggedIn()" class="register js-show-popup" (click)="_authService.activateRegistration()" href="javascript:void(0);">Register</a><a *ngIf="!_authService.isLoggedIn()" (click)="_authService.activateLogin()"
                                        class="login js-show-popup" href="javascript:void(0);">Login</a><a *ngIf="_authService.isLoggedIn()" class="register js-show-popup" routerLink="/profile">Profile</a><a *ngIf="_authService.isLoggedIn()" class="register js-show-popup"
                                        href="javascript:void(0);" (click)="_authService.logoutUser()">Logout</a></div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thim-nav-wrapper container">
        <div class="row">
            <div class="navigation col-sm-12">
                <div class="tm-table">
                    <div class="width-logo table-cell sm-logo">
                        <a href="" title="NJC Labs LMS Application" rel="home" class="no-sticky-logo"><img src="../../../../assets/img/njclogo" alt="NJC Labs"></a>
                        <a href="" rel="home" class="sticky-logo"><img src="../../../../assets/img/njclogo" alt="NJC Labs"></a>
                    </div>
                    <nav class="width-navigation table-cell table-right">
                        <ul class="nav navbar-nav menu-main-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-builder">
                                <a routerLink="/courses" class="tc-menu-inner">Courses</a><span class="icon-toggle"><i class="fa fa-angle-down"></i></span>
                                <div class="tc-megamenu-wrapper tc-megamenu-holder mega-sub-menu sub-menu">
                                    <div id="pl-tc-megamenu" class="panel-layout">
                                        <div id="pg-tc-megamenu-0" class="panel-grid panel-has-style">
                                            <div class="thim-megamenu-row panel-row-style panel-row-style-for-tc-megamenu-0">
                                                <div id="pgc-tc-megamenu-0-0" class="panel-grid-cell">
                                                    <div id="panel-tc-megamenu-0-0-0" class="so-panel widget widget_nav_menu panel-first-child panel-last-child" data-index="0">
                                                        <h3 class="widget-title">About Courses</h3>
                                                        <div class="menu-about-courses-container">
                                                            <ul id="menu-about-courses-1" class="menu">
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-lp_course menu-item-5739 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="/" class="tc-menu-inner">Free Access Type</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-lp_course menu-item-5741 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="courses/node/" class="tc-menu-inner">Other Free Type</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-lp_course menu-item-5740 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="courses/become-a-php-master-and-make-money-fast/" class="tc-menu-inner">Paid Type</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-lp_course menu-item-5742 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="courses/improve-your-css-workflow-with-sass/" class="tc-menu-inner">Other Paid Type</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7635 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a ng-href="courses" class="tc-menu-inner">Courses Archive</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4389 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="demo-accounts/" class="tc-menu-inner">Demo Accounts</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4391 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="become-a-teacher/" class="tc-menu-inner">Become an Instructor</a></li>
                                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4392 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="profile/keny/" class="tc-menu-inner">Instructor Profile</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-95 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-default">
                                <span class="tc-menu-inner">Features</span><span class="icon-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6550 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a routerLink="/membership" class="tc-menu-inner tc-megamenu-title">Membership</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4451 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a href="portfolio-masonry/" class="tc-menu-inner tc-megamenu-title">Portfolio</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2924 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a routerLink="/about-us" class="tc-menu-inner tc-megamenu-title">About Us</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a routerLink="/faq" class="tc-menu-inner tc-megamenu-title">FAQs</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3126 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a routerLink="/not-found" class="tc-menu-inner tc-megamenu-title">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type_archive menu-item-object-tp_event menu-item-7679 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-default"><a href="events/" class="tc-menu-inner">Events</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4528 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-default"><a href="gallery/" class="tc-menu-inner">Gallery</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-99 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-default"><a href="contact/" class="tc-menu-inner">Contact</a></li>
                            <li class="menu-right">
                                <ul>
                                    <li id="courses-searching-3" class="widget widget_courses-searching">
                                        <div class="thim-widget-courses-searching thim-widget-courses-searching-base template-overlay-v2">
                                            <div class="thim-course-search-overlay">
                                                <div class="search-toggle"><i class="fa fa-search"></i></div>
                                                <div class="courses-searching layout-overlay">
                                                    <div class="search-popup-bg"></div>
                                                    <form method="get" action="courses/"> <input type="text" value="" name="s" placeholder="Search courses..." class="thim-s form-control courses-search-input" autocomplete="off"> <input type="hidden" value="course" name="ref"> <button type="submit"><i class="fa fa-search"></i></button>                                                        <span class="widget-search-close"></span></form>
                                                    <ul class="courses-list-search list-unstyled"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="menu-mobile-effect navbar-toggle" data-effect="mobile-effect"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div>
                </div>
            </div>
        </div>
    </div>
</header>
