.sc_heading h3 {
    text-transform: uppercase;
    color: #333333;
}

.sc_heading .sub-heading {
    color: #333333;
}

.thim-bg-overlay-color-half {
    background-image: url('/src/assets/img/bg-footer.jpg');
    background-position: center center;
    background-size: cover;
}