<div class="mobile-menu-wrapper">
    <div class="mobile-menu-inner">
        <div class="icon-wrapper">
            <div class="menu-mobile-effect navbar-toggle close-icon" data-effect="mobile-effect"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div>
        </div>
        <nav class="mobile-menu-container mobile-effect">
            <ul class="nav navbar-nav">
                <li id="menu-item-7682" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7682 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-builder">
                    <a routerLink="/programs" class="tc-menu-inner">Programs</a>

                </li>
                <li id="menu-item-95" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-95 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-default">
                    <span class="tc-menu-inner">Features</span><span class="icon-toggle"><i class="fa fa-angle-down"></i></span>
                    <ul class="sub-menu">

                        <li id="menu-item-2924" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2924 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a routerLink="/about-us" class="tc-menu-inner tc-megamenu-title">About Us</a></li>
                    </ul>
                </li>
                <li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-99 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-default">
                    <a routerLink="/contact" class="tc-menu-inner">Contact</a>
                </li>

            </ul>
        </nav>
    </div>
</div>