<div class="mobile-menu-wrapper">
    <div class="mobile-menu-inner">
        <div class="icon-wrapper">
            <div class="menu-mobile-effect navbar-toggle close-icon" data-effect="mobile-effect"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div>
        </div>
        <nav class="mobile-menu-container mobile-effect">
            <ul class="nav navbar-nav">
                <li id="menu-item-7682" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7682 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-builder">
                    <a href="//courses/" class="tc-menu-inner">Courses</a><span class="icon-toggle"><i class="fa fa-angle-down"></i></span>
                    <div class="tc-megamenu-wrapper tc-megamenu-holder mega-sub-menu sub-menu">
                        <div id="pl-tc-megamenu-7682" class="panel-layout">
                            <div id="pg-tc-megamenu-7682-0" class="panel-grid panel-has-style">
                                <div class="thim-megamenu-row panel-row-style panel-row-style-for-tc-megamenu-7682-0">
                                    <div id="pgc-tc-megamenu-7682-0-0" class="panel-grid-cell">
                                        <div id="panel-tc-megamenu-7682-0-0-0" class="so-panel widget widget_nav_menu panel-first-child panel-last-child" data-index="0">
                                            <h3 class="widget-title">About Courses</h3>
                                            <div class="menu-about-courses-container">
                                                <ul id="menu-about-courses" class="menu">
                                                    <li id="menu-item-5739" class="menu-item menu-item-type-post_type menu-item-object-lp_course menu-item-5739 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="//courses/learnpress-101/" class="tc-menu-inner">Free Access Type</a></li>
                                                    <li id="menu-item-5741" class="menu-item menu-item-type-post_type menu-item-object-lp_course menu-item-5741 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="//courses/node/" class="tc-menu-inner">Other Free Type</a></li>
                                                    <li id="menu-item-5740" class="menu-item menu-item-type-post_type menu-item-object-lp_course menu-item-5740 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="//courses/become-a-php-master-and-make-money-fast/" class="tc-menu-inner">Paid Type</a></li>
                                                    <li id="menu-item-5742" class="menu-item menu-item-type-post_type menu-item-object-lp_course menu-item-5742 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="//courses/improve-your-css-workflow-with-sass/" class="tc-menu-inner">Other Paid Type</a></li>
                                                    <li id="menu-item-7635" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7635 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="//courses/" class="tc-menu-inner">Courses Archive</a></li>
                                                    <li id="menu-item-4389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4389 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="//demo-accounts/" class="tc-menu-inner">Demo Accounts</a></li>
                                                    <li id="menu-item-4391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4391 tc-menu-item tc-menu-depth-0 tc-menu-layout-default">
                                                        <a href="//become-a-teacher/" class="tc-menu-inner">Become an Instructor</a>
                                                    </li>
                                                    <li id="menu-item-4392" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4392 tc-menu-item tc-menu-depth-0 tc-menu-layout-default"><a href="//profile/keny/" class="tc-menu-inner">Instructor Profile</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="menu-item-95" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-95 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-default">
                    <span class="tc-menu-inner">Features</span><span class="icon-toggle"><i class="fa fa-angle-down"></i></span>
                    <ul class="sub-menu">
                        <li id="menu-item-6550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6550 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a href="//membership-account/membership-levels/" class="tc-menu-inner tc-megamenu-title">Membership</a></li>
                        <li id="menu-item-4451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4451 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a href="//portfolio-masonry/" class="tc-menu-inner tc-megamenu-title">Portfolio</a></li>
                        <li id="menu-item-2924" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2924 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a href="//about-us/" class="tc-menu-inner tc-megamenu-title">About Us</a></li>
                        <li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a href="//faqs/" class="tc-menu-inner tc-megamenu-title">FAQs</a></li>
                        <li id="menu-item-6418" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6418 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a href="//demo-university-2/shop/" class="tc-menu-inner tc-megamenu-title">Sidebar Shop</a></li>
                        <li id="menu-item-3126" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3126 tc-menu-item tc-menu-depth-1 tc-menu-align-left"><a href="//404-page" class="tc-menu-inner tc-megamenu-title">404 Page</a></li>
                    </ul>
                </li>
                <li id="menu-item-7679" class="menu-item menu-item-type-post_type_archive menu-item-object-tp_event menu-item-7679 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-default"><a href="//events/" class="tc-menu-inner">Events</a></li>
                <li id="menu-item-4528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4528 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-default"><a href="//gallery/" class="tc-menu-inner">Gallery</a></li>
                <li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-99 tc-menu-item tc-menu-depth-0 tc-menu-align-left tc-menu-layout-default"><a href="//contact/" class="tc-menu-inner">Contact</a></li>

            </ul>
        </nav>
    </div>
</div>
