<section class="content-area" style="min-height: 324px;">
    <app-subheader [title]='childTitle'></app-subheader>
    <div class="container site-content no-padding-top">
        <div class="row">
            <main id="main" class="site-main col-sm-12 full-width">
                <article id="post-91" class="post-91 page type-page status-publish hentry pmpro-has-access">
                    <div class="entry-content">
                        <div id="pl-91" class="panel-layout">
                            <div id="pg-91-0" class="panel-grid panel-no-style">
                                <div id="pgc-91-0-0" class="panel-grid-cell">
                                    <div id="panel-91-0-0-0" class="so-panel widget widget_heading panel-first-child panel-last-child" data-index="0">
                                        <div class="panel-widget-style panel-widget-style-for-91-0-0-0">
                                            <div class="thim-widget-heading thim-widget-heading-base template-base">
                                                <div class="sc_heading   text-center">
                                                    <h3 style="text-transform: uppercase;" class="title">Frequently Asked Questions</h3>
                                                    <p class="sub-heading" style="">Answer all of your questions</p><span class="line"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="pg-91-1" class="panel-grid panel-no-style">
                                <div id="pgc-91-1-0" class="panel-grid-cell">
                                    <div id="panel-91-1-0-0" class="so-panel widget widget_accordion panel-first-child panel-last-child" data-index="1">
                                        <div class="thim-widget-accordion thim-widget-accordion-base template-base">
                                            <div class="thim-widget-accordion">
                                                <h3 class="widget-title">Purchases &amp; Refunds</h3>
                                                <div id="accordion_5e241d52c3da2" class="panel-group" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="heading_accordion_5e241d52c3da2_0">
                                                            <h4 class="panel-title"> <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_5e241d52c3da2" href="#collapse_accordion_5e241d52c3da2_0" aria-expanded="false" aria-controls="collapse_accordion_5e241d52c3da2_0"> Why won't my payment go through? </a></h4></div>
                                                        <div id="collapse_accordion_5e241d52c3da2_0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_accordion_5e241d52c3da2_0" style="height: 1px;">
                                                            <div class="panel-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="heading_accordion_5e241d52c3da2_1">
                                                            <h4 class="panel-title"> <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_5e241d52c3da2" href="#collapse_accordion_5e241d52c3da2_1" aria-expanded="false" aria-controls="collapse_accordion_5e241d52c3da2_1"> How do I get a refund? </a></h4></div>
                                                        <div id="collapse_accordion_5e241d52c3da2_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_accordion_5e241d52c3da2_1">
                                                            <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="heading_accordion_5e241d52c3da2_2">
                                                            <h4 class="panel-title"> <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_5e241d52c3da2" href="#collapse_accordion_5e241d52c3da2_2" aria-expanded="false" aria-controls="collapse_accordion_5e241d52c3da2_2"> How do I redeem a coupon? </a></h4></div>
                                                        <div id="collapse_accordion_5e241d52c3da2_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_accordion_5e241d52c3da2_2">
                                                            <div class="panel-body"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="pgc-91-1-1" class="panel-grid-cell">
                                    <div id="panel-91-1-1-0" class="so-panel widget widget_accordion panel-first-child panel-last-child" data-index="2">
                                        <div class="thim-widget-accordion thim-widget-accordion-base template-base">
                                            <div class="thim-widget-accordion">
                                                <h3 class="widget-title">Making Courses</h3>
                                                <div id="accordion_5e241d52c3ec3" class="panel-group" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="heading_accordion_5e241d52c3ec3_0">
                                                            <h4 class="panel-title"> <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_5e241d52c3ec3" href="#collapse_accordion_5e241d52c3ec3_0" aria-expanded="false" aria-controls="collapse_accordion_5e241d52c3ec3_0"> Changing account name </a></h4></div>
                                                        <div id="collapse_accordion_5e241d52c3ec3_0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_accordion_5e241d52c3ec3_0">
                                                            <div class="panel-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="heading_accordion_5e241d52c3ec3_1">
                                                            <h4 class="panel-title"> <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_5e241d52c3ec3" href="#collapse_accordion_5e241d52c3ec3_1" aria-expanded="false" aria-controls="collapse_accordion_5e241d52c3ec3_1"> How do I unsubscribe from NJCLabs e-mails? </a></h4></div>
                                                        <div id="collapse_accordion_5e241d52c3ec3_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_accordion_5e241d52c3ec3_1">
                                                            <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="heading_accordion_5e241d52c3ec3_2">
                                                            <h4 class="panel-title"> <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_5e241d52c3ec3" href="#collapse_accordion_5e241d52c3ec3_2" aria-expanded="false" aria-controls="collapse_accordion_5e241d52c3ec3_2"> How do I change my password? </a></h4></div>
                                                        <div id="collapse_accordion_5e241d52c3ec3_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_accordion_5e241d52c3ec3_2">
                                                            <div class="panel-body"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="heading_accordion_5e241d52c3ec3_3">
                                                            <h4 class="panel-title"> <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_5e241d52c3ec3" href="#collapse_accordion_5e241d52c3ec3_3" aria-expanded="false" aria-controls="collapse_accordion_5e241d52c3ec3_3"> Why aren't my courses showing in my account? </a></h4></div>
                                                        <div id="collapse_accordion_5e241d52c3ec3_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_accordion_5e241d52c3ec3_3">
                                                            <div class="panel-body"> <b>Missing mobile purchase</b>
                                                                <br> If you purchased a course on iOS or Android, it's possible that the course was not registered to your account. Please email your purchase receipt to helpyou@educo.com.
                                                                <br> <b>Multiple e-mail accounts</b>
                                                                <br> If you use multiple e-mail accounts, or have a Facebook or Google account, try logging in with the associate e-mail addresses.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="pg-91-2" class="panel-grid panel-no-style">
                                <div id="pgc-91-2-0" class="panel-grid-cell">
                                    <div id="panel-91-2-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="3">
                                        <div class="thim-border-top panel-widget-style panel-widget-style-for-91-2-0-0">
                                            <div class="textwidget">
                                                <div class="thim-contact-faqs text-center">
                                                    <h4>Didn't find the answer?</h4>
                                                    <div role="form" class="wpcf7" id="wpcf7-f4-p91-o3" lang="en-US" dir="ltr">
                                                        <div class="screen-reader-response"></div>
                                                        <form action="/faqs/#wpcf7-f4-p91-o3" method="post" class="wpcf7-form" novalidate="novalidate">
                                                            <div style="display: none;">
                                                                <input type="hidden" name="_wpcf7" value="4">
                                                                <input type="hidden" name="_wpcf7_version" value="5.1.4">
                                                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p91-o3">
                                                                <input type="hidden" name="_wpcf7_container_post" value="91">
                                                            </div>
                                                            <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name *"></span></p>
                                                            <p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email *"></span></p>
                                                            <p><span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Subject *"></span></p>
                                                            <p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message *"></textarea></span></p>
                                                            <p>
                                                                <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
                                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>