.test-results-header {
    padding: 3px;
    color: #f7b532;
}

.testComplete-btn-group {
    text-align: center;
}

.testComplete-btn-group button {
    color: #fff;
}

.btn-review {
    background-color: #f7b532;
}

.btn-quiz {
    background-color: #333;
}

.testComplete-btn-group button {
    margin-right: 1%;
}

.status-completed {
    color: #fff;
    border-radius: 50%;
    background-color: #54b551;
    width: 22px;
    line-height: 22px;
    display: block;
    height: 22px;
    text-align: center;
}

.course-item-status:before {
    font-size: 14px;
}

.li-disabled {
    color: grey;
    opacity: 0.5;
}

.complete-step {
    background-color: #54b551;
    cursor: none;
}