.close-popup {
    float: right;
    margin: -2% 2% 0% 2%;
    font-size: 18pt;
}

.button-primary {
    width: 100%;
    background: #ffb606;
}

.popup-login-wrapper {
    margin-left: 25%;
}

#error_message div {
    text-align: center;
    color: #770a0a;
    font-size: 10pt;
}

.thim-login .text-error {
    border: 2px solid #862626;
}
