#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper {
    position: fixed;
    z-index: 102;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

svg {
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

path {
    fill: #fff;
}

path:nth-child(1) {
    animation: draw1 2s linear infinite
}

path:nth-child(2) {
    animation: draw2 2s linear infinite
}

path:nth-child(3) {
    animation: draw3 2s linear infinite
}

@keyframes draw1 {
    100% {
        fill: #DAC92E;
        stroke: #E4AE20
    }
}

@keyframes draw2 {
    20% {
        fill: #fff;
    }
    40%,
    100% {
        fill: #2EB1DA;
        stroke: #2EB1DA
    }
}

@keyframes draw3 {
    40% {
        fill: #fff;
        stroke: #fff;
    }
    60%,
    100% {
        fill: #075771;
        stroke: #075771;
    }
}